<div>
    <div ng-if="errors.length === 0" class="-centerTextH">
        Ничего не найдено.
    </div>
    <div ng-if="errors.length !== 0">
        <div class="-centerTextH">       
            <a ng-href="{{simpleErrorsHref}}" ng-class="{'errorType' : true, 'errorType--active -darkBlue' : needShowSimpleErrors}">Слово</a>
            <a ng-href="{{compositeErrorsHref}}" ng-class="{'errorType' : true, 'errorType--active -darkBlue' : !needShowSimpleErrors}">Слово и ответ</a>
        </div>
        <table class="spreadsheet -centerBlock -marginTop20">
            <thead>
                <tr>
                    <th>Слово</th>
                    <th ng-if="!needShowSimpleErrors">Выбранный ответ</th>
                    <th>Количество ошибок</th>
            </thead>
            <tbody>
                <tr ng-repeat="e in errors">
                    <td>{{e.word}}</td>
                    <td ng-if="!needShowSimpleErrors">{{e.answer}}</td>
                    <td>{{e.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-show="pageHrefs.length > 1" class="pages -marginTop20">
            <a ng-repeat="pageHref in pageHrefs track by $index" ng-href="{{pageHref}}" class="pages__page -darkBlue -darkBlue--action">{{$index + 1}}</a>
        </div>
    </div>
</div>
  