.-roundedCorners10 {
    border-radius: 10px 10px 10px 10px; 
}

/******************************************************************************/

.-blue {
    color : #ECF7FF;
    background-color : #33A7CF;
}

/******************************************************************************/

.-azure {
    color : #EFF;
    background-color : #00809E;  
}

/******************************************************************************/

.-darkBlue {
    color : #CEE;
    background-color : #006A86; 
}

.-darkBlue--action {
    cursor : pointer;
}

.-darkBlue--action:hover {
    background-color : #00607A;
    color : #FFF;
}

/******************************************************************************/

.-errorMessage {
    padding : 3px;
    
    color : #FFF;
    background-color : #E04117;
    
    border-top : 3px solid #920;
    border-bottom : 3px  solid #920;
}

/******************************************************************************/

.-cursorPointer {
    cursor : pointer;
}

/******************************************************************************/

.-displayAsHref {
    text-decoration : underline;
    cursor : pointer;
}